<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG ClickUp Integration Suite" parallel="methods">
	<listeners>
		<listener class-name="com.matthiasrothe.testng.clickup.ClickUpReporter" />
	</listeners>
	
	<test name="All Tests" >
		<packages>
			<package name="com.matthiasrothe.testng" />
		</packages>
	</test>
</suite>